<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Application</title>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/maplibre-gl@^5.2.0/dist/maplibre-gl.js"></script>
    <script src="https://unpkg.com/pmtiles@latest/dist/pmtiles.js"></script>
    <link href="https://unpkg.com/maplibre-gl@^5.2.0/dist/maplibre-gl.css" rel="stylesheet" />
</head>

<body>
    <header>
        <h1>Select catchments by clicking!</h1>
    </header>

    <main>
        <section id="map-container">
            <div id="map">
                <nav role="navigation">
                    <div id="menuToggle">
                        <!--
                        A fake / hidden checkbox is used as click reciever,
                        so you can use the :checked selector on it.
                        -->
                        <input type="checkbox" id="menuCheckbox" />
                        <div class="icons">
                            <svg class="gear" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                <path d="M195.1 9.5C198.1-5.3 211.2-16 226.4-16l59.8 0c15.2 0 28.3 10.7 31.3 25.5L332 79.5c14.1 6 27.3 13.7 39.3 22.8l67.8-22.5c14.4-4.8 30.2 1.2 37.8 14.4l29.9 51.8c7.6 13.2 4.9 29.8-6.5 39.9L447 233.3c.9 7.4 1.3 15 1.3 22.7s-.5 15.3-1.3 22.7l53.4 47.5c11.4 10.1 14 26.8 6.5 39.9l-29.9 51.8c-7.6 13.1-23.4 19.2-37.8 14.4l-67.8-22.5c-12.1 9.1-25.3 16.7-39.3 22.8l-14.4 69.9c-3.1 14.9-16.2 25.5-31.3 25.5l-59.8 0c-15.2 0-28.3-10.7-31.3-25.5l-14.4-69.9c-14.1-6-27.2-13.7-39.3-22.8L73.5 432.3c-14.4 4.8-30.2-1.2-37.8-14.4L5.8 366.1c-7.6-13.2-4.9-29.8 6.5-39.9l53.4-47.5c-.9-7.4-1.3-15-1.3-22.7s.5-15.3 1.3-22.7L12.3 185.8c-11.4-10.1-14-26.8-6.5-39.9L35.7 94.1c7.6-13.2 23.4-19.2 37.8-14.4l67.8 22.5c12.1-9.1 25.3-16.7 39.3-22.8L195.1 9.5zM256.3 336a80 80 0 1 0 -.6-160 80 80 0 1 0 .6 160z"/>
                            </svg>
                        </div>
                        <ul id="menu"> <h2>Map Settings</h2>  
                        <div class="icons">
                            <svg class="chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><!--!Font Awesome Free v7.0.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
                                <path d="M169.4 297.4C156.9 309.9 156.9 330.2 169.4 342.7L361.4 534.7C373.9 547.2 394.2 547.2 406.7 534.7C419.2 522.2 419.2 501.9 406.7 489.4L237.3 320L406.6 150.6C419.1 138.1 419.1 117.8 406.6 105.3C394.1 92.8 373.8 92.8 361.3 105.3L169.3 297.3z"/>
                            </svg>
                        </div>
                        <div class="menu-switch">
                            <input type="checkbox" class="menu-switch__input gages__input" id="gages__input">
                            <label for="gages__input" class="menu-switch__label">Show gages</label>
                        </div>
                        <div class="menu-switch">
                            <input type="checkbox" class="menu-switch__input camels__input" id="camels__input">
                            <label for="camels__input" class="menu-switch__label">Show CAMELS basins</label>
                        </div>
                        <div class="menu-switch">
                            <input type="checkbox" class="menu-switch__input nwm__input" id="nwm__input">
                            <label for="nwm__input" class="menu-switch__label">Show NWM chunks</label>
                        </div>
                        <div class="menu-switch">
                            <input type="checkbox" class="menu-switch__input aorc__input" id="aorc__input">
                            <label for="aorc__input" class="menu-switch__label">Show AORC chunks</label>
                        </div>

                        <h4 class="menu-header">Subset type</h4>
                        <div class="radio">
                            <input id="radio-nexus" name="radio" type="radio" checked>
                            <label for="radio-nexus" class="radio-label">Subset by nexus</label>
                        </div>

                        <div class="radio">
                            <input id="radio-catchment" name="radio" type="radio">
                            <label  for="radio-catchment" class="radio-label">Subset by catchment</label>
                        </div>
                        <!-- <button id="toggle-button-gages">Show gages</button> 
                        <button id="toggle-button-camels">Show CAMELS basins</button>
                        <button id="toggle-button-nwm">Overlay NWM chunks</button>
                        <button id="toggle-button-aorc">Overlay AORC chunks</button> -->
                        </ul>
                    </div>
                </nav>

            </div>

            <div class="command-container">
                <div class="command-header">
                        <div class="toggle-switch">
                            <input type="checkbox" id="runcmd-toggle" class="toggle-input">
                            <label for="runcmd-toggle" class="toggle-label">
                                <span class="toggle-text toggle-text-left">UVX</span>
                                <span class="toggle-text toggle-text-right">Pip</span>
                                <span class="toggle-handle"></span>
                            </label>
                        </div>
                    <span>Command</span>
                    <button id="copy-to-clip" class="copy-button" aria-label="Copy to clipboard">
                        <svg class="copy-icon" viewBox="0 0 16 16" width="16" height="16">
                            <path fill-rule="evenodd" d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 010 1.5h-1.5a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-1.5a.75.75 0 011.5 0v1.5A1.75 1.75 0 019.25 16h-7.5A1.75 1.75 0 010 14.25v-7.5z"></path>
                            <path fill-rule="evenodd" d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0114.25 11h-7.5A1.75 1.75 0 015 9.25v-7.5zm1.75-.25a.25.25 0 00-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 00.25-.25v-7.5a.25.25 0 00-.25-.25h-7.5z"></path>
                        </svg>
                        <span class="copy-text">Copy</span>
                    </button>
                </div>
                <div id="command-builder">
                    <span id="cli-prefix" class="command-content">uvx --from ngiab_data_preprocess cli </span>
                    <span id="cli-command" class="command-content"></span>
                </div>
            </div>
            <script>
                document.getElementById('copy-to-clip').addEventListener('click', async function() {
                    const commandPrefix = document.getElementById('cli-prefix').textContent;
                    const commandText = document.getElementById('cli-command').textContent;
                    if (commandPrefix && !commandPrefix.endsWith(' ')) {
                        // Ensure there's a space after the prefix
                        commandPrefix += ' ';
                    }
                    const full_command = commandPrefix + commandText;
                    const button = this;

                    try {
                        await navigator.clipboard.writeText(full_command);

                        // Update button state
                        button.classList.add('copied');
                        const copyText = button.querySelector('.copy-text');
                        const originalText = copyText.textContent;
                        copyText.textContent = 'Copied!';

                        // Reset button state after 2 seconds
                        setTimeout(() => {
                            button.classList.remove('copied');
                            copyText.textContent = originalText;
                        }, 2000);
                    } catch (err) {
                        console.error('Failed to copy text:', err);
                    }
                });
            </script>
            <h2>For selection by gage id please use the cli.</h2>
        </section>
        <section id="basins-container">
            <h2>Selected Basins</h2>
            <div id="selected-basins">None - get clicking!</div>
            <button id="subset-button">Create subset gpkg</button>
            <img class="loading" src="{{ url_for('static', filename='resources/loading.gif') }}" alt="Loading"
                id="subset-loading">
            <!-- <button id="subset-to-file-button">Output list of upstreams to file</button>
            <img class="loading" src="{{ url_for('static', filename='resources/loading.gif') }}" alt="Loading"
                id="subset-to-file-loading"> -->
            <div id="output-info">
                <strong>Output folder is configured in the ~/.ngiab/preprocessor file</strong>
            </div>
            <div id="output-path"></div>
        </section>

        <section id="time-settings">
            <div class="time-input">
                <label for="start-time">Start Time:</label>
                <input type="datetime-local" id="start-time" name="start-time" value="2010-01-01T00:00">
            </div>
            <div class="time-input">
                <label for="end-time">End Time:</label>
                <input type="datetime-local" id="end-time" name="end-time" value="2010-01-02T00:00">
            </div>
        </section>

        <section id="forcings">
            <div id="forcings-warning">
                <strong>Forcing generation may take a while.<br> Use the Cli for progress bars and additional information</strong>
            </div>
            <!-- div below to show source data toggle -->
            <div style="display: flex; justify-content: left;">
                <div class="toggle-switch">
                    <input type="checkbox" id="datasource-toggle" class="toggle-input">
                    <label for="datasource-toggle" class="toggle-label">
                        <span class="toggle-text toggle-text-left">NWM</span>
                        <span class="toggle-text toggle-text-right">AORC</span>
                        <span class="toggle-handle"></span>
                    </label>
                </div>
                <button id="forcings-button">Create Forcing From Zarrs</button>
                <img class="loading" src="{{ url_for('static', filename='resources/loading.gif') }}" alt="Loading"
                    id="forcings-loading">
                <br>
            </div>
            <br>
            <div id="forcings-output-path"></div>
            <div id="progress">
                <div id="bar"></div>
                <div id="bar-text"></div>
            </div>
        </section>

        <section id="realization">
            <button id="realization-button">Create Realization</button>
            <div id="realization-output-path"></div>
        </section>


    </main>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/console.css') }}">
    <div id="console" class="minimized">
        <div class="center">
            <button id="toggleConsole">Show Console</button>
        </div>
        <div id="logOutput"></div>
    </div>
    <script src="{{ url_for('static', filename='js/console.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/data_processing.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js' ) }}"></script>

</body>

</html>
